<!--  ***** BLOG TEMPLATE CODE ***** -->

<!-- PAGE TITLE -->
{{ page_title }}

<!-- BLOG LOOP -->
{% for article in blogs.news.articles limit: 3 %} <!-- LOOP STARTS -->

<!-- Permalink -->
{{ article.url }}

<!-- Title -->
{{ article.title }}

<!-- Posted Date -->
{%- if section.settings.show_date -%}
  {{ article.published_at | time_tag: format: 'date' }}
{%- endif -%}

<!-- Featured Image -->
{%- if article.image -%}
<a href="{{ article.url }}">
  <img srcset="{% if article.image.width >= 311 %}{{ article.image | img_url: '311x' }} 311w,{% endif %}
  {% if article.image.width >= 622 %}{{ article.image | img_url: '622x' }} 622w,{% endif %}
  {% if article.image.width >= 503 %}{{ article.image | img_url: '503x' }} 503w,{% endif %}
  {% if article.image.width >= 1006 %}{{ article.image | img_url: '1006x' }} 1006w,{% endif %}
  {% if article.image.width >= 685 %}{{ article.image | img_url: '685x' }} 685w,{% endif %}
  {% if article.image.width >= 1370 %}{{ article.image | img_url: '1370x' }} 1370w{% endif %}"
  sizes="(min-width: 1200px) 1080px, (min-width: 750px) calc(100vw - 12rem), calc(100vw - 6.4rem)"
  src="{{ article.image | img_url: '600x' }}" width="{{ article.image.width }}" height="{{ article.image.height }}"
  loading="lazy" class="blog-item__image" alt="{{ article.image.alt | escape }}">
</a>
{%- endif -%}

<!-- Excerpt -->
{%- if article.excerpt.size > 0 -%}
  {{ article.excerpt }}
{%- else -%}
  {{ article.content | strip_html | truncate: 150 }}
{%- endif -%}

{% endfor %}<!-- LOOP ENDS -->